body {
	padding: 10%;
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue,
		helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

input,
button {
	border: 2px solid #dcdcdc;
	border-radius: 6px;
	padding: 8px 10px;
	font-size: 16px;
	margin-right: 4px;
}

button {
	margin-right: 0;
}

button:hover {
	background: #f5f5f5;
}
